body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
    font-family: "微软雅黑",Arial;
    background: #002744;
	box-sizing: border-box;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}

/*start top*/
.top {
	width: 1600px;
	height:50px;
	margin: 0 auto;
	background: #abb0b3;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top_server a{
	font-size: 11px;
	color:white;
	padding-left: 19px;
	display: block;
	padding-right: 11px;
}
.top_server{
	width:116px;
	height:50px;
	display: flex;
	align-items: center;
}
.top_server .icon-duoyuyanjiantou_xia{
	color:white;
	font-size: 5px;
}
.top_right{
	display: flex;
	align-items: center;
}
.top_right a{
	font-size: 11px;
	color:#fff;
	display: block;
}
.compare{
	width:111px;
	height:50px;
	display: flex;
	align-items: center;
}
.empty{
	width:200px;
	height:80px;
	background: #ffffff;
	position: absolute;
	display: none;
	top:50px;
	z-index: 20;
	right:360px;
}
.empty_top{
	font-size: 15px;
	color:#003150;
	display: block;
	padding-top: 20px;
	padding-left: 20px;
}
.empty_tbb {
	font-size: 15px;
	color:#003150;
	display: block;
	padding-top: 20px;
	padding-left: 20px;
}
.empty_bottom{
	font-size: 13px;
	color:#abb0b3;
	display: block;
	padding-top: 10px;
	padding-left: 20px;
}
.compare:hover .empty{
	display: block;
}
#texter{
	width:60px;
	height:50px;
	padding-top: 30px;
}
.compare:hover #texter{
	display: block;
	background: #ffffff;
	font-size: 11px;
	color:black;
}
.account:hover #texter{
	display: block;
	background: #ffffff;
	font-size: 11px;
	color:black;
}
.shopping:hover #texte{
	display: block;
	background: #ffffff;
	font-size: 11px;
	color:#003150;
}
.shopping:hover .empt{
	display: block;
}
#texte{
	width:70px;
	height:50px;
	padding-top: 30px;
}

.empt{
	width:200px;
	height:80px;
	background: #ffffff;
	position: absolute;
	display: none;
	top:50px;
	z-index: 7;
	right:151px;
}
.empt_tbb {
	font-size: 18px;
	color:#003150;
	display: block;
	padding-top: 40px;
	padding-left: 20px;
}
.account{
	width:86px;
	height:50px;
	display: flex;
	align-items: center;
}
.icon-biao{
	color:#fff;
	padding-left: 22px;
	padding-right: 12px;
}
.icon-lg-zh{
	color:#fff;
	padding-left: 22px;
	padding-right: 12px;
}
.shopping{
	display: flex;
	align-items: center;
	width:124px;
	height:50px;
	background:#90959b;
}
.icon-gouwudai-{
	color:#fff;
	padding-left: 22px;
	padding-right: 12px;
}
/*end top*/
/*start header*/
.header{
	width:1600px;
	height:60px;
	background: #ffffff;
	margin:0 auto;
	display: flex;
	position: relative;
}
.head{
	display: flex;
	justify-content: center;
	align-items: center;
	width:1476px;
}
.head a{
	display: block;
	color:#003150;
	font-size: 12px;
	padding-left: 50px;
	font-weight: 600;
	height:55px;
	line-height: 65px;
}
.head_box:hover .head_nav{
	display: block;
}
.head_box:hover .head_navv{
	display: block;
}
.head_box:hover .head_nan{
	display: block;
}
.head_nav{
	width:1600px;
	height:700px;
	background: #ffffff;
	left:0px;
	top:60px;
	position: absolute;
	z-index: 6;
	display: none;
}
.head_navv{
	width:1600px;
	height:800px;
	background: #ffffff;
	left:0px;
	top:60px;
	position: absolute;
	z-index: 7;
	display: none;
}
.head_nan{
	width:1600px;
	height:600px;
	background: #ffffff;
	left:0px;
	top:60px;
	position: absolute;
	z-index: 7;
	display: none;
}
.nav_text{
	width:1600px;
	display: flex;
}
.nav_text span{
	display: block;
	font-size: 12px;
	color:#003150;
	font-weight: 600;
	padding-top: 65px;
}
.nav_list{
	display: flex;
}
.navv_list{
	display: flex;
}
.nan_list{
	display: flex;
}
.list_text img{
	width:250px;
	height:280px;

}

.lists_text img{
	width:390px;
	height:240px;
	padding-right: 10px;
}
.listn_text img{
	width:390px;
	height:240px;
	padding-right: 10px;
}
.list_text{
	width:320px;
	height:615px;
}
.list_title{
	font-size: 24px;
	color:#003150;
	font-weight: 600;
	padding-left: 50px;
}
.list_tit{
	padding-top: 20px;
	font-size: 12px;
	color:#737373;
	font-weight: 600;
	padding-left: 50px;
}
.search{
	width:124px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search a{
	display: block;
	font-size: 12px;
	color:#003150;
	font-weight: 600;
}
.search .icon-sousuo{
	color:#003150;
	font-size: 12px;
	display: block;
	font-weight: 600;
	padding-left: 12px;
}
/*end header*/
/*start picture*/
.picture{
	width:1600px;
	height:853px;
	margin:0 auto;
	background: url("../img/pc.jpg")no-repeat center;

}
/*end picture*/
/*start Best-selling watches*/
.watch{
	width:1600px;
	height:130px;
	margin:0 auto;
}
.watch span{
	display: block;
	font-size: 20px;
	color:#ffffff;
	padding-left: 135px;
	padding-top: 56px;
}
/*end Best-selling watches*/
/*start details*/
.details{
	width:1413px;
	height:590px;
	margin:0 auto;
	display: flex;
	background: #ffffff;
}
.details_first{
	width:470px;
	height:590px;
	background: #ffffff;
	border-right:1px solid gray;
	position: relative;
}
.layer{
	width:462px;
	height:582px;
	border: 4px solid gray;
	position: absolute;
	left:0px;
	top:0px;
	display: none;
}
.details_first img{
	width:470px;
	height:422px;
	padding-bottom: 23px;
}
.details_first span{
	display: block;
	font-size: 12px;
	color:#84888b;
	line-height: 23px;
	text-align: center;

}
.details_first p{
	font-size: 14px;
	color:#002842;
	text-align: center;
	padding-top: 39px;
	font-weight: 600;
}
.details_first:hover .layer{
	display: block;
}
/*end  details*/
/*start own*/
.own{
	width:1413px;
	height:130px;
	margin:0 auto;
	display: flex;
}
.own span{
	padding-left: 39px;
	padding-top: 39px;
	font-size: 12px;
	color:#ffffff;
	display: block;
}
/*end own*/
/*end geography*/
.geography{
	width:1413px;
	height:298px;
	margin:0 auto;
	display: flex;
	background: #ffffff;
}
.dream{
	width:705px;
	background: url("../img/hl.jpg")no-repeat;
}
.dream span{
	display: block;
	text-align: center;
	font-size: 23px;
	color:#ffffff;
	font-weight: 600;
}
.icon-sousuo1{
	text-align: center;
	padding-top: 104px;
}
.dealer{
	width:705px;
	background: url("../img/gl.jpg")no-repeat;
}
.dealer span{
	display: block;
	text-align: center;
	font-size: 34px;
	color:#ffffff;
	font-weight: 600;
	padding-top: 135px;
}

/*start new*/
.new{
	width:1413px;
	height:122px;
	margin:0 auto;
}
.new span{
	display: block;
	font-size: 12px;
	padding-left: 39px;
	padding-top: 80px;
	color:#ffffff;
}
/*end new*/
/*start longinesnew*/
.longinesnew{
	width:1413px;
	height:628px;
	background: #9a6e3a;
	margin:0 auto;
	display: flex;
}
.brand:hover .mask_layer{
	display: none;
}
.brand{
	width:470px;
	height:628px;
	background: #ffffff;
	border-right:1px solid gray;
	position: relative;
}
.mask_layer{
	width:470px;
	height:628px;
	background: #003150;
	opacity: 0.8;
	position: absolute;
	left:0px;
	top:0px;
	z-index: 10;
}
.brand img{
	width:469px;
	height:312px;
	position: relative;
}
.brand span{
	display: block;
}
.equestrian{
	padding-top: 50px;
	font-size: 12px;
	color:#bac5cc;
	padding-left: 20px;
}
.text{
	font-size: 20px;
	color:#000000;
	padding-left: 20px;
	padding-bottom: 92px;
}
.taxt{
	font-size: 20px;
	color:#000000;
	padding-left: 20px;
	padding-bottom: 115px;
}
.date a{
	font-size: 12px;
	color:#bac5cc;
	padding-left: 20px;
}
/*end longinesnew*/
/*start allnew*/
.allnew{
	width:1413px;
	height:98px;
	margin:0 auto;
	display: flex;
	background: #003150;
	margin-bottom: 88px;
}
.allnew span{
	padding-left: 39px;
	padding-top: 40px;
	font-size: 12px;
	color:#ffffff;
	display: block;
}
/*end allnew*/
/*start banner*/
.banner{
	width:1410px;
	height:810px;
	margin:0 auto;
	background: #ffffff;
	display: flex;
}
.banner_box{
	width:940px;
	height:810px;
	background: skyblue;
	position: relative;
}
.banner_box img{
	width:100%;
	height:100%;
	position: absolute;
}

.banner_picture span{
	display: block;
	position: absolute;
}
.banner_name{
	font-size: 36px;
	color:#ffffff;
	padding-left:80px;
	padding-top: 610px;
}
.banner_text{
	font-size: 18px;
	color:#ffffff;
	padding-left: 80px;
	padding-top: 660px;
}
.banner_find{
	font-size: 13px;
	color:#ffffff;
	padding-left: 80px;
	padding-top: 712px;
}
.icon-jiantou{
	font-size: 13px;
	color:#ffffff;
	padding-left: 130px;
	padding-top: 713px;
}
.doudou{
	width:20px;
	height:20px;
	color:#adaaaa;
	right:200px;
	bottom:80px;
	position: absolute;
	display: flex;
}
.banner_watch{
	width:470px;
	height:560px;
	background: gray;
	position: relative;
}
.watch_box span{
	position: absolute;
}
.list_price{
	font-size: 12px;
	color:#84888b;
	padding-top: 615px;
	padding-left: 186px;
}
.model_number{
	font-size: 12px;
	color:#84888b;
	padding-top: 643px;
	padding-left: 193px;
}
.information{
	font-size: 14px;
	font-weight: 600;
	padding-top: 690px;
	padding-left: 208px;
}
.banner_watch img{
	width:100%;
	height:100%;
	position: absolute;
}
/*end banner*/
/*start explore*/
.explore_box{
	margin:0 auto;
	background: yellow;
	width:1410px;
	height:600px;
	display: flex;
	margin-top: 88px;
	position: relative;
}
.season{
	width:705px;
	height:600px;
	position: relative;
	overflow: hidden;
}
.season img{
	width:100%;
	height:100%;
	position: relative;
	transform: scale(1);
	transition: all 1s ease;
}
.season_first{
	font-size: 38px;
	color:#ffffff;
	left:35px;
	top:10px;
	position: absolute;
}
.season_second{
	font-size: 21px;
	color:#ffffff;
	left:35px;
	top:75px;
	position: absolute;
}
.season_third{
	font-size: 21px;
	color:#ffffff;
	left:35px;
	top:425px;
	position: absolute;
}
.probe{
	width:68px;
	height:50px;
	margin-left: 48px;
	margin-top: 498px;
	border:2px solid #78797b;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left:35px;
	top:0px;
}
.probe span{
	display: block;
	text-align: center;
	font-size: 12px;
	color:#ffffff;
	position: absolute;

}
.season span{
	display: block;
	position: absolute;
}
.season:hover img{
	transform: scale(1.05);
	transition: all 1s ease;
}
.horse:hover img{
	transform: scale(1.05);
	transition: all 1s ease;
}
.horse{
	width:705px;
	height:600px;
	position: relative;
	overflow: hidden;
}
.horse img{
	width:705px;
	height:600px;
	position: relative;
	transform: scale(1);
	transition: all 1s ease;
}
.season_one{
	font-size: 38px;
	color:#ffffff;
	left:35px;
	top:10px;
	position: absolute;
}
.season_two{
	font-size: 21px;
	color:#ffffff;
	left:35px;
	top:75px;
	position: absolute;
}
.season_three{
	font-size: 21px;
	color:#ffffff;
	left:35px;
	top:425px;
	position: absolute;
}
.prob{
	width:68px;
	height:50px;
	margin-left: 48px;
	margin-top: 498px;
	border:2px solid #78797b;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left:35px;
	top:0px;
}
.prob span{
	display: block;
	text-align: center;
	font-size: 12px;
	color:#ffffff;
	position: absolute;

}
.season span{
	display: block;
	position: absolute;
}
.horse{
	width:705px;
	height:600px;
}
.horse span{
	display: block;
	position: absolute;
}
.explore{
	width:1410px;
	height:136px;
	background: #003150;
	margin:0 auto;
	display: flex;
	margin-bottom: 93px;
}
.explore span{
	font-size: 12px;
	color:#ffffff;
	padding-left: 50px;
	padding-top: 30px;
}
/*end explore*/
/*start swit*/
.swit{
	width:1600px;
	height:256px;
	background: #003150;
	margin:0 auto;
}
.swite{
	width:1410px;
	height:256px;
	margin:0 auto;
	display: flex;
}
.swit_website{
	width:467px;
	height:192px;
	margin-top: 33px;
}
.swit_website span{
	display: block;
}
.swit_first{
	font-size: 20px;
	color:#ffffff;
	padding-bottom: 39px;
}
.swit_second{
	font-size: 12px;
	color:#8097a9;
	line-height: 20px;
}
.swit_website img{
	width:80px;
	height:20px;
	padding-top: 14px;
color: #78797b;

}
.swit_fieight{
	width:457px;
	height:192px;
	margin-top: 33px;
}
.icon-baoguoxiangzi{
	width:24px;
	height:24px;
	padding-top: 14px;
}
.swit_fieight span{
	display: block;
}
.swit_pay{
	width:457px;
	height:192px;
	margin-top: 33px;
}
.icon-zhifufangshi{
	width:24px;
	height:24px;
	padding-top: 14px;
}
.swit_pay span{
	display: block;
}
.vector{
	display: flex;
	padding-top: 12px;
}
/*end swit*/
/*start business license*/
.business{
	width:1600px;
	height:156px;
	margin:0 auto;
	display: flex;

	background: #abb0b3;
}
.license{
	width:560px;
	height:74px;
	padding-left:95px;
	margin-top: 45px;
	font-size: 12px;
	line-height: 20px;
	color:#ffffff;
}
.license img{
	padding-top: 10px;
	padding-right: 10px;
}
.license_text{
	font-size: 12px;
	color:#ffffff;
}
.nav{
	display: flex;
	margin-top: 45px;
	padding-left: 395px;
}
.nav_box{
	width:122px;
	height:19px;
}
.nav_box a{
	display: block;
	font-size: 14px;
	margin-left: 20px;
	color:#ffffff;
}
/*end business license*/
/*start language*/
.language{
	width:1600px;
	height:94px;
	background: #ffffff;
	margin:0 auto;
}
.language_center{
	display: flex;
	justify-content: space-between;
	width:1400px;
	height:94px;
	margin:0 auto;
}
.language_left{
	 display: flex;
 }
 .language_left span{
	padding-top: 44px;
	display: block;
	 padding-right: 10px;
	 font-size: 13px;
	 color:#737373;
}
.language_right{
	display: flex;
}
 .language_right span{
	 padding-top: 44px;
	 display: block;
	 padding-right: 10px;
	 font-size: 13px;
	 color:#737373;
 }

/*end lanuage*/
/*start mark*/
.longines_mark{
	width:1600px;
	height:650px;
	background: #ffffff;
	margin:0 auto;
}
.longines_center{
	width:1400px;
	height:650px;
	margin:0 auto;
	border-top: 2px solid gray;
}
.longines_picture{
	width:1400px;
	height:190px;
	margin:0 auto;
	text-align: center;
}
.longines_picture img{
	padding-top: 60px;
}
/*end mark*/
/*start world*/
.longines_world{
	width:1400px;
	height:460px;
	display: flex;
}
.longines_text{
	width:280px;
}
.longines_special{
	padding-top: 85px;
	width:280px;
}
.longines_special span{
	display: block;
	font-size: 12px;
	color:#737373;
	line-height: 28px;
}
.longines_text p{
	font-size: 22px;
	color:#003150;
	font-weight: 600;
	padding-bottom: 60px;
}
.longines_text span{
	display: block;
	font-size: 12px;
	color:#737373;
	line-height: 28px;
}
/*end world*/
.service{
	width:62px;
	height:62px;
	background: #003150;
	bottom:45px;
	right:170px;
	position: fixed;
	text-align: center;
}
.service img{
	width:23px;
	height:21px;
	display: inline-block;
	padding-top: 12px;
}
.service span{
	font-size: 11px;
	color:#ffffff;
	display: block;
}
